<h1><%= @restaurant.name %></h1>

<%= @restaurant.description %></br>
<%= @restaurant.address %></br>
<%= @restaurant.phone %>

</br></br>

<%= link_to "Update", edit_restaurant_path(@restaurant), id: "update restaurant" %></li>
<%= link_to "delete", @restaurant, method: :delete, id: "delete restaurant" %></li>
    
