%h1= @restaurant.name
Owned by:
= @restaurant.user.name
%br
= @restaurant.description 
%br
= @restaurant.address 
%br
= @restaurant.phone 

%br

= image_tag("https://maps.googleapis.com/maps/api/staticmap?center=#{@restaurant.address}&zoom=15&size=600x300&maptype=roadmap&markers=color:blue%7C#{@restaurant.address}", alt:"Map")

- if current_user == @restaurant.user
	%br
	= link_to "Update", edit_restaurant_path(@restaurant), id: "update restaurant"
	|
	= link_to "Delete", @restaurant, method: :delete, id: "delete restaurant"
	%hr
	Reservations:
	- @restaurant.reservations.each do |reservation| 
		= "Reserved by: #{reservation.email} at #{reservation.date_and_time}"

%hr
Book a table:
= simple_form_for @reservation do |form|
	= render 'reservation_fields', form: form
	= form.button :submit, 'Book', class: 'submit'